@typeparam T where T : Blater.Models.Bases.BaseDataModel

@if (Loading)
{
    @*<AsLoading Class="mt-20 h-12 w-12"></AsLoading>*@
}
else
{
    if (Id != BlaterId.Empty)
    {
        <AutoDetailsBuilder
            T="T"
            Id="@Id"
            HasEditButton="@HasEditButton"
            EditCallback="@EditCallback"
            Options="@Options"
            ExtraStyle="@ExtraStyle"/>

        @if (BackButton)
        {
            <div class="flex justify-start gap-4 mt-4">
                <MudButton
                    Variant="Variant.Filled"
                    OnClick="@BackPage">
                    @LocalizationService.Get("BackButton")
                </MudButton>
            </div>
        }
    }
    else
    {
        <p class="text-3xl  text-left text-primary-1000">
            @_title
        </p>

        <!-- Item Not found asMessage -->
        <div class="flex flex-col justify-center items-center">
            <p class="text-xl  text-left text-primary-1000">
                @LocalizationService.Get("ItemNotFound")
            </p>
        </div>
    }
}