@*@inherits Blater.Frontend.Auto.Bases.BaseValueAutoComponent<CreditCardInfo>
@using Blater.Frontend.Enumerations.AutoModel
@implements Blater.Frontend.Auto.IAutoBuildableComponent

<div id="auto-last-credit-card-numbers" class="@ExtraClass">

    @#1#if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <div class="grid grid-cols-2 justify-center items-center gap-4 min-w-full">

        $2$  <span class="text-sm text-primary-700 whitespace-nowrap">@("**** " + Value.LastCreditCardNumbers)</span>
            <img src="@Value.CreditCardBrand" alt="image" class="w-8 h-8 rounded">#2#
        <MudText
            Class="text-sm text-primary-700 whitespace-nowrap">
            @("**** " + Value.LastCreditCardNumbers)
        </MudText>
        <MudImage
            Src="@Value.CreditCardBrand"
            Alt="image"
            Class="w-8 h-8 rounded"/>

    </div>
    #1#

</div>

@code {

    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoLastCreditCardNumbers;
}*@