@using System.Globalization
@using Blater.Frontend.Client.Enumerations
@typeparam T where T : Blater.Models.Bases.BaseDataModel

<MudCard Elevation="0" Class="pa-4 mb-2 mud-height-full">
    <MudGrid Spacing="0">
        <MudItem xs="12" Class="d-flex">
            <MudText Typo="Typo.h5">
                @LocalizationService.GetValue($"BlaterTable-Title-{_typeName}")
            </MudText>
            <MudSpacer/>
            @if (EnabledCreateButton)
            {
                <MudIconButton
                    Color="Color.Primary"
                    OnClick="@OnCreate"
                    Variant="Variant.Filled"
                    Icon="@Material.Filled.Add"
                    Size="Size.Medium">
                </MudIconButton>
            }
        </MudItem>
    </MudGrid>
</MudCard>

<MudCard Elevation="0" Class="pa-4">
    <form @onsubmit="Filter">
        <MudGrid Spacing="1">
            <MudItem xs="12">
                <MudText Typo="Typo.h5">
                    @LocalizationService.GetValue($"BlaterTable-FilterValues")
                </MudText>
            </MudItem>
            <MudItem xs="12" lg="8">
                <MudDateRangePicker
                    Variant="Variant.Filled"
                    Clearable="true"
                    Culture="@(new CultureInfo("pt-BR"))"
                    Label="@LocalizationService.GetValue("BlaterTable-Date-Range-Label")"
                    DateRangeChanged="@(x => DateRangeValueChanged(x))"
                    DateRange="@(_dateRange ?? new DateRange())"/>
                <MudSpacer/>
            </MudItem>
            <MudItem xs="12" lg="4">
                <MudDateRangePicker
                    Variant="Variant.Filled"
                    Clearable="true"
                    Culture="@(new CultureInfo("pt-BR"))"
                    Label="@LocalizationService.GetValue("BlaterTable-Date-Range-Label")"
                    DateRangeChanged="@(x => DateRangeValueChanged(x))"
                    DateRange="@(_dateRange ?? new DateRange())"/>
                <MudSpacer/>
            </MudItem>
        </MudGrid>
    </form>

    <MudTable
        T="T"
        @ref="_mudTable"
        Items="@Items"
        Breakpoint="Breakpoint.Sm"
        Striped="@EnabledStriped"
        MultiSelection="@EnabledMultiSelection"
        SelectOnRowClick="@EnabledSelectOnRowClick"
        SelectionChangeable="@EnabledSelectionChangeable"
        SelectedItemsChanged="@OnSelectedItemsChanged"
        SelectedItemChanged="@OnSelectedItemChanged"
        OnRowClick="@OnRowClick"
        FixedHeader="@EnabledFixedHeader"
        FixedFooter="@EnabledFixedFooter"
        Height="@(EnabledFixedHeader || EnabledFixedFooter ? "70vh" : "")"
        Loading="@_loading"
        LoadingProgressColor="@LoadingProgressColor">
        <HeaderContent>
            @{
                foreach (var column in ColumnConfigurations.Where(column => !column.DisableColumn))
                {
                    <MudTh>
                        <div class="d-flex align-center justify-center">
                            <MudTableSortLabel
                                SortBy="@CreateSortFunc(column.PropertyInfo.Name)"
                                Enabled="@column.DisableFilter">
                                @(string.IsNullOrWhiteSpace(column.HasColumnName) ? LocalizationService.GetValue($"BlaterTable-Table-{column.PropertyInfo.Name}") : column.HasColumnName)
                            </MudTableSortLabel>
                            <MudIconButton Icon="@_iconFilter" OnClick="@ToggleOpen"/>
                        </div>
                    </MudTh>
                }

                if (EnabledCustomActions || EnabledDefaultActions)
                {
                    <MudTh/>
                }
            }
        </HeaderContent>
        <RowTemplate>
            @{
                foreach (var column in ColumnConfigurations.Where(column => !column.DisableColumn))
                {
                    var propName = string.IsNullOrWhiteSpace(column.HasColumnName) ? LocalizationService.GetValue($"BlaterTable-Table-{column.PropertyInfo.Name}") : column.HasColumnName;
                    var propValue = column.PropertyInfo.GetValue(context);
                    <MudTd DataLabel="@propName">@propValue</MudTd>
                }

                if (EnabledCustomActions || EnabledDefaultActions)
                {
                    <MudTd>
                        <div class="d-flex align-center justify-center gap-2">
                            @if (EnabledDefaultActions)
                            {
                                <MudIconButton
                                    Icon="@Material.Outlined.RemoveRedEye"
                                    Color="Color.Primary"
                                    OnClick="@(() => OnDetails.InvokeAsync(context))"/>
                                <MudIconButton
                                    Icon="@Material.Outlined.Edit"
                                    Color="Color.Primary"
                                    OnClick="@(() => OnEditChanged.InvokeAsync(context))"/>
                                <MudIconButton
                                    Icon="@(context.Enabled ? Material.Outlined.LockOpen : Material.Outlined.Lock)"
                                    Color="@(context.Enabled ? Color.Primary : Color.Error)"
                                    OnClick="@(() => OnDisabledChanged.InvokeAsync(context))"/>
                            }
                            @if (EnabledCustomActions)
                            {
                                foreach (var item in CustomDataGridActions)
                                {
                                    <MudIconButton
                                        Icon="@item.Icon"
                                        Color="@(item.Color ?? Color.Primary)"
                                        OnClick="@(() => item.OnValueChanged(context))"/>
                                }
                            }
                        </div>
                    </MudTd>
                }
            }
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="@(new[] { 10, 25, 50, 100 })"
                           RowsPerPageString="@("Rows per page:")"
                           InfoFormat="@("{first_item}-{last_item} of {all_items}")"
                           AllItemsText="@("All")"
                           HorizontalAlignment="@HorizontalAlignment.Right"/>
        </PagerContent>
    </MudTable>
</MudCard>

<MudPopover 
    Open="@_open"
    Fixed="true" 
    Class="mud-width-full" 
    MaxHeight="450"
    OverflowBehavior="OverflowBehavior.FlipNever" 
    AnchorOrigin="Origin.CenterCenter" 
    TransformOrigin="Origin.CenterCenter">
    <MudGrid Spacing="2" Justify="Justify.Center">
        @foreach (var wherePart in _whereParts)
        {
            var keyValue = wherePart.Column;
            var typeValue = wherePart.Operator;
            var value = wherePart.Value;
            <MudItem xs="4" Class="d-flex gap-2 align-end justify-center pa-2">
                <MudIconButton Icon="@Material.Filled.Close" OnClick="@(_ => RemoveWherePart(wherePart))" Size="Size.Small"/>
                <MudSelect T="string" Label="Column" Clearable="true" Required="true" bind-Value="@keyValue">
                    @foreach (var columnConfig in ColumnConfigurations.Where(x => !x.DisableFilter))
                    {
                        <MudSelectItem Value="@columnConfig.PropertyInfo.Name"/>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="4" Class="pa-2">
                <MudSelect T="OperatorTypes" Label="Operator" Clearable="true" Required="true" bind-Value="@typeValue">
                    @foreach (var value in OperatorTypesExtensions.GetValues())
                    {
                    <MudSelectItem T="OperatorTypes" Value="@value"/>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="4" Class="pa-2">
                <MudTextField T="string" bind-Value="@(value.ToString())" Label="Value"/>
            </MudItem>
        }
        <MudItem xs="12" Class="d-flex gap-2 ma-4">
            <MudButton OnClick="@AddWherePart" Color="Color.Info">+ Add Filter</MudButton>
            <MudButton OnClick="@ClearWherePart" Color="Color.Info">- Clear</MudButton>
            <MudSpacer/>
            <MudButton OnClick="@Filter" Color="Color.Info">Filter</MudButton>
        </MudItem>
    </MudGrid>
</MudPopover>