@inherits Blater.Frontend.Client.Auto.AutoBuilders.Base.BaseAutoFormComponent<bool>
@implements Blater.Frontend.Client.Auto.AutoInterfaces.IAutoBuildableComponent

<div id="auto-toggle-input" class="@ExtraClass">
    <MudSwitch
        T="bool"
        Value="@Value"
        Disabled="@Disabled"
        Error="@HasValidationError"
                ErrorText="@ValidationErrorMessage"
                RequiredError="@ValidationErrorMessage"
        ValueChanged="@(async x => await NotifyValueChanged(x))"
        Label="@LabelName"
        LabelPosition="LabelPosition.Start"
        Color="Color.Primary"
        Class="align-start pl-4"
        Required="@Required"/>
</div>


@code
{
    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormComponentInputType.AutoFormSwitchComponentInput;
}