@inherits BaseAutoComponentBuilder<T>
@typeparam T where T : Blater.Frontend.Client.Contracts.Bases.BaseFrontendModel
@typeparam TValidator where TValidator : BaseModelValidator<T>

<BlaterCascadingValue
    T="T"
    Id="@CascadingValue">
    <div class="mb-2 mud-height-full d-flex flex-row align-center gap-2">
        <MudIconButton
            Icon="@Material.Filled.ArrowBack"
            Color="Color.Primary"
            OnClick="@(async () => await NavigationService.GoBack())"/>
        <MudText Typo="Typo.h5">
            @GetTitleValue(FormTimelineConfiguration)
        </MudText>
    </div>
    <MudTimeline
        TimelineOrientation="TimelineOrientation.Horizontal"
        TimelinePosition="TimelinePosition.Top"
        Reverse="false"
        TimelineAlign="TimelineAlign.Default">
        @foreach (var step in Steps)
        {
            var stepKey = step.Key;
            var stepValue = step.Title;
            <MudTimelineItem
                Color="@(_currentStep >= stepKey ? Color.Primary : Color.Surface)"
                Variant="Variant.Outlined"
                Size="Size.Large">
                <ItemDot>
                    @if (_currentStep > stepKey)
                    {
                        <MudIcon Icon="@Material.Filled.Done"/>
                    }
                    else
                    {
                        <MudText>
                            @stepKey
                        </MudText>
                    }
                </ItemDot>
                <ItemContent>
                    <MudText
                        Color="@(_currentStep >= stepKey ? Color.Primary : Color.Default)"
                        Align="Align.Center">
                        @GetStepValue(stepValue)
                    </MudText>
                </ItemContent>
            </MudTimelineItem>
        }
    </MudTimeline>

    <div
        id="@($"auto-form-group-{_currentStep}")"
        class="my-4">
        @RenderAutoFormBuilder()
    </div>

    <div id="steps-buttons" class="d-flex justify-space-between flex-grow-1 gap-4 mt-4">
        <MudButton
            Color="Color.Default"
            StartIcon="@Material.Filled.ArrowBack"
            IconSize="Size.Medium"
            Variant="Variant.Text"
            OnClick="@GoBackCallback">
            @LocalizationService.GetValue($"Blater-AutoFormTimeline-Button-GoBack")
        </MudButton>
        <MudButton
            Color="Color.Default"
            EndIcon="@Material.Filled.ArrowForward"
            Variant="Variant.Text"
            OnClick="@NextCallback">
            @LocalizationService.GetValue(_isLastStep ? $"Blater-AutoFormTimeline-Button-{(EditMode ? "Edit" : "Save")}" : $"Blater-AutoFormTimeline-Button-Next")
        </MudButton>
    </div>

</BlaterCascadingValue>