@inherits BaseAutoComponentBuilder<T>
@typeparam T where T : Blater.Frontend.Client.Contracts.Bases.BaseFrontendModel
@typeparam TValidator where TValidator : BaseModelValidator<T>

<BlaterCascadingValue
    Id="@CascadingValue">
    <div class="mb-2 mud-height-full d-flex flex-row align-center gap-2">
        <MudIconButton
            Icon="@Material.Filled.ArrowBack"
            Color="Color.Primary"
            OnClick="@(async () => await NavigationService.GoBack())"/>
        <MudText Typo="Typo.h5">
            <b>@GetTitleValue(FormTimelineConfiguration)</b>
        </MudText>
    </div>
    <MudTimeline
        TimelineOrientation="TimelineOrientation.Horizontal"
        TimelinePosition="TimelinePosition.Top"
        Reverse="false"
        TimelineAlign="TimelineAlign.Default">
        @foreach (var step in Steps)
        {
            var stepKey = step.Key;
            var stepValue = step.Title;
            <MudTimelineItem
                Color="@(_currentStep >= stepKey ? Color.Primary : Color.Surface)"
                Variant="Variant.Outlined"
                Size="Size.Large">
                <ItemDot>
                    @if (_currentStep > stepKey)
                    {
                        <MudIcon Icon="@Material.Filled.Done"/>
                    }
                    else
                    {
                        <MudText>
                            @stepKey
                        </MudText>
                    }
                </ItemDot>
                <ItemContent>
                    <MudText
                        Color="@(_currentStep >= stepKey ? Color.Primary : Color.Default)"
                        Align="Align.Center">
                        @GetStepValue(stepValue)
                    </MudText>
                </ItemContent>
            </MudTimelineItem>
        }
    </MudTimeline>

    <MudCard Elevation="0" Class="my-4">
        <div
            id="@($"auto-form-group-{_currentStep}")">
            @RenderAutoFormBuilder()
        </div>
        
        <MudDivider DividerType="DividerType.FullWidth"/>
        
        <div id="steps-buttons" class="d-flex justify-end gap-4 pa-4">
            <MudButton
                Color="Color.Secondary"
                Variant="Variant.Filled"
                Size="Size.Medium"
                OnClick="@GoBackCallback">
                @LocalizationService.GetValue($"Blater-AutoFormTimeline-Button-GoBack")
            </MudButton>
            <MudButton
                Color="Color.Primary"
                Variant="Variant.Filled"
                Size="Size.Medium"
                OnClick="@NextCallback">
                @LocalizationService.GetValue(_isLastStep ? $"Blater-AutoFormTimeline-Button-{(EditMode ? "Edit" : "Save")}" : $"Blater-AutoFormTimeline-Button-Next")
            </MudButton>
        </div>
    </MudCard>
    

</BlaterCascadingValue>