@inherits Blater.Frontend.Auto.Bases.BaseAutoFormComponent<string>
@implements IAutoBuildableComponent

<div id="auto-text-input" class="@ExtraClass">
    <MudTextField
        id="@InputId"
        Disabled="Disabled"
        Class="@ExtraClass"
        Placeholder="@PlaceholderText"
        Value="@Value"
        ValueChanged="@ValueChanged"
        Label="@LabelName"
        Error="@HasValidationError"
        ErrorText="@ValidationErrorMessage"
        RequiredError="@ValidationErrorMessage"
        Required="@Required"
        Variant="@Variant.Filled"
        />
</div>

@code
{
#pragma warning disable CA2252

    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormInputType.AutoTextInput;
#pragma warning restore CA2252
}