@inherits Blater.FrontEnd.Auto.Bases.BaseAutoFormComponent<string>
@using Blater.Enumerations.AutoModel
@using MudBlazor
@implements IAutoBuildableComponent

<div id="auto-text-input" class="@ExtraClass">
    <MudTextField
        id="@InputId"
        Disabled="Disabled"
        Class="@ExtraClass"
        Placeholder="@PlaceholderText"
        Value="@Value"
        ValueChanged="@ValueChanged"
        Label="@LabelName"
        Error="@HasValidationError"
        ErrorText="@ValidationErrorMessage"
        RequiredError="@ValidationErrorMessage"
        Required="@Required"
        Variant="@Variant.Filled"
        />
</div>

@code
{
    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormInputType.AutoTextInput;

}