@inherits Blater.Frontend.Auto.Bases.BaseAutoFormComponent<string>
@implements IAutoBuildableComponent

<div id="auto-cnpj-input" class="@ExtraClass">
    <MudTextField
        id="@InputId"
        Disabled="@Disabled"
        Class="@ExtraClass"
        Label="@LabelName"
        Variant="@Variant.Filled"
        Placeholder="@PlaceholderText"
        Error="@HasValidationError"
        Required="@true"
        ErrorText="@ValidationErrorMessage"
        RequiredError="@ValidationErrorMessage"
        MaxLength="@(!string.IsNullOrEmpty(Mask) ? 18 : 14)"
        Value="@Value"
        ValueChanged="@ValueChanged"
        Clearable/>
</div>


@code
{
#pragma warning disable CA2252
    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormInputType.AutoCNPJInput;
#pragma warning restore CA2252
}