@inherits Blater.Frontend.Auto.Bases.BaseAutoFormComponent<bool>
@implements IAutoBuildableComponent

<div id="auto-checkbox-input" class="@ExtraClass">

    <MudCheckBox
        id="@InputId"
        Disabled="@Disabled"
        Value="@Value"
        Label="@LabelName"
        Required="@Required"
        ErrorText="@ValidationErrorMessage"
        RequiredError="@ValidationErrorMessage"
        ValueChanged="@ValueChanged"
        Color="Color.Primary">
    </MudCheckBox>
</div>

@code
{
#pragma warning disable CA2252

    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormInputType.AutoCheckBoxInput;
#pragma warning restore CA2252
}