@inherits Blater.Frontend.Auto.Bases.BaseAutoFormComponent<DateTime>
@implements IAutoBuildableComponent

<div id="auto-datetime-input" class="@ExtraClass">
    <MudTextField
        T="DateTime"
        Disabled="@Disabled"
        Format="yyyy-MM-dd"
        InputType="InputType.Date"
        Variant="Variant.Filled"
        Label="@LabelName"
        Value="@Value"
        ValueChanged="@ValueChanged"
        Required="@Required"
        Culture="@(new CultureInfo("pt-BR"))"
        Class="@ExtraClass"
        Error="@HasValidationError"
        ErrorText="@ValidationErrorMessage"
        RequiredError="@ValidationErrorMessage"/>
</div>

@code
{
#pragma warning disable CA2252
    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormInputType.AutoDateTimeInput;

    protected override async Task OnInitializedAsync()
    {
        if (Value == default)
        {
            Value = DateTime.UtcNow;
        }

        await NotifyValueChanged();
        await base.OnInitializedAsync();
    }


    public override string ValueAsString => Value.ToString();

    private async Task DateChanged()
    {
        await NotifyValueChanged();
    }
#pragma warning restore CA2252
}