@inherits Blater.Frontend.Auto.Bases.BaseAutoFormImageComponent

<div id="auto-image-circle-input" class="@ExtraClass">
    <AsImageCircleInput
        Disabled="@Disabled"
        Required="@Required"
        MaxFileSizeMb="8"
        ExtraClass="@ExtraClass"
        ContainerPrefix="@ContainerPrefix"
        ContainerPublic="@ContainerPublic"
        MaxImageSizeMb="8"
        Value="@Value"
        ValueChanged="@ValueChanged"
        HasValidationError="@HasValidationError"
        ValidationErrorMessage="@ValidationErrorMessage"/>
</div>

@code {
#pragma warning disable CA2252
    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormInputType.AutoImageCircleInput;
    
#pragma warning restore CA2252
}