@inherits Blater.FrontEnd.Auto.Bases.BaseAutoFormComponent<bool>
@using Blater.Enumerations.AutoModel
@implements Blater.FrontEnd.Auto.IAutoBuildableComponent

<div id="auto-checkbox-input" class="@ExtraClass">

    <MudCheckBox
        id="@InputId"
        Disabled="@Disabled"
        Value="@Value"
        Label="@LabelName"
        Required="@Required"
        ErrorText="@ValidationErrorMessage"
        RequiredError="@ValidationErrorMessage"
        ValueChanged="@ValueChanged"
        Color="Color.Primary">
    </MudCheckBox>
</div>

@code
{


    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormInputType.AutoCheckBoxInput;
}