@inherits Blater.FrontEnd.Auto.Bases.BaseAutoFormImageComponent
@using Blater.Enumerations.AutoModel
@implements IAutoBuildableComponent

<div id="auto-image-input" class="@ExtraClass">
    <AsImageInput
        Disabled="@Disabled"
        Required="@Required"
        MaxFileSizeMb="8"
        ExtraClass="@ExtraClass"
        ContainerPrefix="@ContainerPrefix"
        ContainerPublic="@ContainerPublic"
        MaxAspectRatio="3"
        MinAspectRatio="1"
        MaxImageSizeMb="8"
        Value="@Value"
        ValueChanged="@ValueChanged"
        HasValidationError="@HasValidationError"
        ValidationErrorMessage="@ValidationErrorMessage"/>
</div>

@code
{

    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormInputType.AutoImageInput;
    
}