@inherits Blater.FrontEnd.Auto.Bases.BaseAutoFormComponent<decimal>
@using Blater.Enumerations.AutoModel
@using MudBlazor
@implements Blater.FrontEnd.Auto.IAutoBuildableComponent

<div id="auto-money-input" class="@ExtraClass">
    <MudTextField
        T="decimal"
        id="@InputId"
        Value="@Value"
        Label="@LabelName"
        Variant="@Variant.Filled"
        ValueChanged="@Callback"
        Error="@HasValidationError"
                ErrorText="@ValidationErrorMessage"
                RequiredError="@ValidationErrorMessage"
        Required="@Required"
        Adornment="Adornment.Start"
        AdornmentIcon="@Icons.Material.Filled.AttachMoney"
        AdornmentColor="Color.Warning"/>
</div>


@code
{


    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormInputType.AutoMoneyInput;

    private async Task Callback(decimal obj)
    {
        await NotifyValueChanged(obj);
    }

}