@typeparam TItemType where TItemType : IConvertible

@inherits Blater.Frontend.Auto.Bases.BaseAutoFormComponent<TItemType>
@using Blater.Frontend.Services
@implements IAutoBuildableComponent

@inject LocalizationService LocalizationService

<div id="auto-select-input" class="@ExtraClass">
    <MudSelect T="TItemType"
               Label="@LocalizationService.Get($"Label-{TypeName}")"
               Variant="Variant.Filled"
               AnchorOrigin="Origin.BottomCenter"
               Value="@Value"
               ValueChanged="@ValueChanged">
        @foreach (TItemType value in Enum.GetValues(typeof(TItemType)))
        {
            <MudSelectItem T="TItemType" Value="@value">@(value?.ToString() ?? "")</MudSelectItem>
        }
    </MudSelect>
</div>


@code {
#pragma warning disable CA2252
    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormInputType.AutoSelectNoTranslationInput;
#pragma warning restore CA2252
}