@inherits Blater.Frontend.Auto.Bases.BaseAutoFormComponent<bool>
@using Blater.Models.User

@implements IAutoBuildableComponent

@if (_notEqual)
{
    <div id="auto-toggle-input" class="@ExtraClass">
        <MudSwitch
            T="bool"
            Value="@Value"
            Disabled="@Disabled"
            Error="@HasValidationError"
            ErrorText="@ValidationErrorMessage"
            RequiredError="@ValidationErrorMessage"
            ValueChanged="@((bool val) => Callback(val))"
            Label="@LabelName"
            LabelPosition="LabelPosition.Start"
            Color="Color.Primary"
            Class="align-start pl-4"
            Required="@Required"/>
    </div>
}

@code
{
#pragma warning disable CA2252
    [Inject] private BlaterAuthState BlaterAuthState { get; set; } = null!;
    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormInputType.AutoEnableSwitchInput;
    
    [CascadingParameter(Name = "ParentId")]
    public string? ParentId { get; set; }

    bool _notEqual;
    
    protected override void OnInitialized()
    {
        _notEqual = ParentId != BlaterAuthState.UserId;
        base.OnInitialized();
    }

    private async Task Callback(bool obj)
    {
        Value = obj;
        await ValueChanged.InvokeAsync(Value);
    }
    
#pragma warning restore CA2252
}