@inherits BaseValueAutoComponent<bool>
@using Blater.Frontend.Client.Auto.AutoModels
@using Blater.Frontend.Client.Auto.AutoModels.Base
@implements Blater.Frontend.Client.Auto.Interfaces.IAutoBuildableComponent

<div id="auto-status" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    @if (Value)
    {
        <MudSwitch T="bool" Value="@Value" Class="@ExtraClass" ReadOnly="true" Color="Color.Primary"/>
    }
    else
    {
        <MudSwitch T="bool" Value="@Value" Class="@ExtraClass" ReadOnly="true" Color="Color.Primary"/>
    }
</div>

@code
{
    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoTableComponentType.AutoStatus;

}