@inherits Blater.Frontend.Client.Auto.AutoBuilders.Base.BaseAutoValueComponent<string>
@using Blater.Frontend.Client.Auto.AutoModels.Base
@using Blater.Frontend.Client.Auto.AutoModels.Enumerations
@implements Blater.Frontend.Client.Auto.Interfaces.IAutoBuildableComponent

@switch (string.IsNullOrWhiteSpace(Value))
{
    case false when Value.Length == 14:
    {
        <div id="auto-cnpj-formatted" class="@ExtraClass">
            @if (!string.IsNullOrEmpty(LabelName))
            {
                <MudText>@LabelName</MudText>
            }
            <MudText>@Cnpj</MudText>
            
        </div>
        break;
    }
    case false when Value.Length == 18:
    {
        <div id="auto-cnpj-formatted" class="@ExtraClass">
            @if (!string.IsNullOrEmpty(LabelName))
            {
                <MudText>@LabelName</MudText>
            }
            <MudText>@Value</MudText>
            
        </div>
        break;
    }
    default:
        <MudText>CNPJ inválido</MudText>
        break;
}

@code {

    public int Priority => 1000;

    private string Cnpj => $"{Value.Substring(0, 2)}." +
                           $"{Value.Substring(2, 3)}." +
                           $"{Value.Substring(5, 3)}/" +
                           $"{Value.Substring(8, 4)}-" +
                           $"{Value.Substring(12, 2)}";

    public BaseAutoComponentTypeEnumeration ComponentType => AutoTableComponentType.AutoCNPJFormatted;
}